### 문자열 타입

- 파이썬에서 문자열 ' ', " " 가능
- ''' ''', """ """ 가능

In [5]:
str1 = "Life blooms like a flower"
str1 = 'Life blooms like a flower'
str1 = """Life blooms like a flower"""
str1 = '''Life blooms like a flower'''

In [4]:
str1

'Life blooms like a flower'

In [23]:
str1 = """Life blooms like a flower"""

str1

'Life blooms like a flower'

In [11]:
# + : 연결

head = "Python"
tail = " is fun"

head + tail

'Python is fun'

In [17]:
# * : 반복
head * 2

'PythonPython'

In [16]:
print("*" * 20)

********************

In [ ]:
# 길이 구하기

len(head)

6

In [24]:
# 문자열 인덱싱, 슬라이싱
print(str1[0]) # 왼쪽 시작
print(str1[-1]) # 오른쪽 끝
print(str1[-4]) # 오른쪽 끝부터

L
r
o

In [25]:
str1[0:5]

'Life '

In [30]:
print(str1[5:])
print(str1[:])
print(str1[12:-7])

blooms like a flower
Life blooms like a flower
like a

In [32]:
str2 = "20260205Sunny"

date = str2[0:8]
weather = str2[8:]

print(date, weather)

20260205 Sunny

In [34]:
str2 = "901205-1234567" # 1,3 남자 / 2,4 여자
no = str2[7]

if no == '3' or no == '1':
    print("남자")
else:
    print("여자")

남자

In [38]:
for s in str1:
    print(s+"$", end="")

L$i$f$e$ $b$l$o$o$m$s$ $l$i$k$e$ $a$ $f$l$o$w$e$r$

In [ ]:
# 숫자를 입력받기 => 문자로 처리
# 54321

str1 = input("숫자를 입력하세요 >> ")

for s in range(len(str)):
    print(int(str1[s]) * "@")

@
@@@@
@@
@@@@@
@@@
@

In [ ]:
# %d : 정수, %c : 문자 1개, %f : 부동 소수, %s : 문자열(만능)
print("I ate %d apples" % 3)
print("I ate %s apples" % 3) # %s (문자열)
print("I ate %s apples" % "five") # %s (문자열)
print("I ate %s apples" % 3.14) # %s (문자열)
print("I ate %s apples" % True) # %s (문자열)

I ate 3 apples
I ate 3 apples
I ate five apples
I ate 3.14 apples
I ate True apples

In [55]:
print("%10s" % "hi")
print("%0.4f" % 3.141592) # 0 : 앞 자리수는 전체 출력

        hi
3.1416

In [56]:
# format()
print("I eat {0} apples".format(3))
print("I eat {0} apples".format("five"))
print("I eat {0} apples. so I was sick for {1} days".format(10,3))

I eat 3 apples
I eat five apples
I eat 10 apples. so I was sick for 3 days

In [59]:
number = 3
day = 10
print("I eat {0} apples. so I was sick for {1} days".format(number, day))
print(f"I eat {number} apples. so I was sick for {day} days")

I eat 3 apples. so I was sick for 10 days
I eat 3 apples. so I was sick for 10 days

In [60]:
print("{0:>10}".format("hi")) # 총 10자리 우측정렬
print("{0:^10}".format("hi")) # 총 10자리 가운데정렬
print("{0:<10}".format("hi")) # 총 10자리 왼쪽정렬

print(f"{number:>10}")
print(f"{number:^10}")
print(f"{number:<10}")

        hi
    hi
hi
         3
    3
3

In [61]:
# 문자열 함수

a = "hobby"

a.count("b")

2

In [65]:
# 원본 문자열 안에서 특정 문자 찾기
# 못 찾으면 -1
print(a.find("o"))
print(a.find("a"))

print(a.index("o"))
# print(a.index("a")) # 얘는 못 찾으면 error

1
-1
1

In [67]:
# 문자열 삽입

print(",".join("abcd"))

list = ['a','b','c']
print(list)
print("".join(list)) # ★ (리스트를 문자열로 변경)

a,b,c,d
['a', 'b', 'c']
abc

In [68]:
#upper(), lower()
print(a.upper())

HOBBY

In [70]:
# 공백 제거 : strip() / rstrip() / lstrip()

a = "        hi        "
print(a)
print(a.rstrip())
print(a.lstrip())
print(a.strip())

        hi
        hi
hi
hi

In [72]:
# replace()

a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [76]:
# split()
a.split() # 공백 기준

['Life', 'is', 'too', 'short']

In [77]:
# startswith, endswith
a.startswith("L")
a.endswith("L")

False

In [81]:
# 입력 => 년/월/일 (2026/02/26)
# 10년 후의 날짜를 계산 후 보여주기 => 2036년 02월 26일

date1 = input("년/월/일 >> ")

year = int(date1[0:4]) + 10

print(f"{year}년 {date1[5:7]}월 {date1[8:]}일")

2036년 02월 26일

In [ ]:
date1 = input("년/월/일· (예 : ·2026/02/26) · 형태로 · 입력하세요 .")

pos = date1.find("/")
year = int(date1[0:pos]) + 10

print(f"{year}년 {date1[5:7]}월 {date1[8:]}일")

In [82]:
date1 = "2026/02/05"

date1 = date1.split("/")

year = int(date1[0]) + 10

print(f"{year}년 {date1[1]}월 {date1[2]}일")

2036년 02월 05일

In [1]:
# http://naver.com
# 규칙 1 : http:// 제외 => naver.com
# 규칙 2 : 첫번째로 나오는 마침표 이후 부분은 제외 => naver
# 규칙 3 : 남은 글자 중 처음 세 자리 + 글자 갯수 + 글자 내 'e' 문자 갯수 + ! => nav51!

url = "http://naver.com"
password = url.replace("http://","")
password = password[:password.find(".")]
e_count = str(password.count("e"))
length = str(len(password))
password = password[:3] + length + e_count + "!"
print(password)

nav51!

### 리스트
- 자바스크립트의 배열구조와 동일
- 중복 가능, 순서가 있음

In [6]:
# 리스트 생성

list1 = []
list2 = list()
list3 = ['a', 'b', 'c']
list4 = ['a', 'b', 'c', 5, 6, 7, 3.14]
list5 = ['a', 'b', 'c', ['Life', 'is', 'too', 'short']]
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
[]
['a', 'b', 'c']
['a', 'b', 'c', 5, 6, 7, 3.14]
['a', 'b', 'c', ['Life', 'is', 'too', 'short']]

In [10]:
# 인덱싱과 슬라이싱

print(list3[1:])
print(list3[-1:])
print(list5[3][1])
print(list5[-1][-2])
print(list4[::-1]) # 전체 출력 / 거꾸로 출력

['b', 'c']
['c']
is
too
[3.14, 7, 6, 5, 'c', 'b', 'a']

In [11]:
# +
print(list3 + list4)

['a', 'b', 'c', 'a', 'b', 'c', 5, 6, 7, 3.14]

In [12]:
# *
print(list3*2)

['a', 'b', 'c', 'a', 'b', 'c']

In [13]:
# 리스트 값 수정

list3[2] = 'd'
list3

['a', 'b', 'd']

In [14]:
list3[1:2] = [10,11]
list3

['a', 10, 11, 'd']

In [15]:
list3[1] = [13,14]
list3

['a', [13, 14], 11, 'd']

In [18]:
# 값 추가
list2.append([15,16,17])
list2

[[15, 16, 17]]

In [19]:
# 삭제
list2[0:2] = []
list2

[]

In [20]:
del list3[1]
list3

['a', 11, 'd']

In [23]:
# 정렬
list6 = [27,75,15,9,6,3,36]
print(f"정렬 전 {list6}")
list6.sort()
print(f"정렬 후 {list6}")

list7 = ['z','k','a','v','f']
print(f"정렬 전 {list7}")
list7.sort()
print(f"정렬 후 {list7}")

정렬 전 [27, 75, 15, 9, 6, 3, 36]
정렬 후 [3, 6, 9, 15, 27, 36, 75]
정렬 전 ['z', 'k', 'a', 'v', 'f']
정렬 후 ['a', 'f', 'k', 'v', 'z']

In [ ]:
list7 = ['z','k','a','v','f']
print(f"정렬 전 {list7}")
list7.sort(reverse=True)
print(f"내림차순 정렬 후 {list7}")

정렬 전 ['z', 'k', 'a', 'v', 'f']
정렬 후 ['z', 'v', 'k', 'f', 'a']

In [25]:
list7 = ['z','k','a','v','f']
result = sorted(list7)
print(list7) # 원본 보존
print(result) # 정렬된 새로운 리스트

['z', 'k', 'a', 'v', 'f']
['a', 'f', 'k', 'v', 'z']

In [26]:
# remove()

list3.remove('a')

In [27]:
list3

[11, 'd']

In [28]:
list4.append('a')
list4.remove('a') # 처음 찾은 요소만 제거
list4

['b', 'c', 5, 6, 7, 3.14, 'a']

In [ ]:
# pop() : 맨 마지막 요소 제거

list4.pop()

'a'

In [31]:
list4

['b', 'c', 5, 6, 7, 3.14]

In [33]:
# count()
list5.count("c")

1

In [35]:
list7 = list3 + list4
list7

[11, 'd', 'b', 'c', 5, 6, 7, 3.14]

In [ ]:
list3.extend(list4) # + 와 같은 결과이긴 하나 원본에 합산
list3

[11, 'd', 'b', 'c', 5, 6, 7, 3.14]

In [37]:
# 리스트 요소 모두 삭제
list3.clear()
list3

[]

In [40]:
# 100 이상의 숫자 개수
numbers = [273,103,5,32,65,9,72,800,99]

count = 0
for num in numbers:
    if num >= 100:
        print(num)
        count += 1
print(f"100 이상의 수 {count}")

273
103
800
100 이상의 수 3

In [42]:
# numbers 의 숫자와 자릿수 출력
# 출력예시
# 273 : 3 자릿수

for num in numbers:
    print(f"{num} : {len(str(num))} 자릿수")

273 : 3 자릿수
103 : 3 자릿수
5 : 1 자릿수
32 : 2 자릿수
65 : 2 자릿수
9 : 1 자릿수
72 : 2 자릿수
800 : 3 자릿수
99 : 2 자릿수

In [44]:
# 1 ~ 100 까지의 숫자 중에서 짝수인 리스트 생성
numbers = []
for i in range(1, 101):
    if i % 2 == 0:
        numbers.append(i)

print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [49]:
# 비어있는 리스트, 문자열 : False

if list1:
    print("True")
else:
    print("False")

city = ""

if city:
    print("city True")
else:
    print("city False")

False
city False

In [62]:
# in

fruits = [ '사과 ' , '딸기 ', '바나나' , '수박' , '배' ]

# fruits 안에 '딸기' 포함하고 있는가?
if "딸기" in fruits:
    print("딸기 들어있음")

# for i in fruits:
#     if i == "딸기":
#         print("딸기 들어 있음")
#         break

In [63]:
for idx, fruit in enumerate(fruits):
    print(idx, fruit) # (0, '사과') 튜플

0 사과
1 딸기
2 바나나
3 수박
4 배

In [69]:
classA = [70,60,55,75,95,90,80,85,100]

# classA 점수의 합과 평균 구하기
total = 0
for num in classA:
    total += num

print(f"classA 점수합계 : {total}, 평균 : {total / len(classA)}")

# sum()
print(f"classA 점수합계 : {sum(classA)}, 평균 : {sum(classA) / len(classA)}")

classA 점수합계 : 710, 평균 : 78.88888888888889
classA 점수합계 : 710, 평균 : 78.88888888888889

In [75]:
# 주차장 프로그램

parking_lot = []
top, car_name = 0, "A"

while True:
    no = int(input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료"))

    if no <= 3:
        if no ==1:
            if top >= 5:
                print("주차장 꽉 찼음")
            else:
                parking_lot.append(car_name)
                print(f"{car_name} 자동차 들어감. 주차장 상태 ==> {parking_lot}")

                top += 1
                car_name = chr(ord(car_name)+1)
        elif no ==2:
            if top > 0:
                outCar = parking_lot.pop()
                print(f"{outCar} 자동차 나감. 주차장 상태 ==> {parking_lot}")

                top =- 1
                car_name = chr(ord(car_name)-1)
            else:
                print("자동차 없음")
        elif no ==3:
            print("프로그램 종료")
            break
    else:
        print("메뉴 번호를 확인해 주세요")

A 자동차 들어감. 주차장 상태 ==> ['A']
B 자동차 들어감. 주차장 상태 ==> ['A', 'B']
C 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C']
D 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
E 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']
주차장 꽉 찼음
주차장 꽉 찼음
주차장 꽉 찼음
E 자동차 나감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
E 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']
자동차 없음
자동차 없음
자동차 없음
프로그램 종료

In [76]:
# list comprehension

# 1~7 리스트 생성

numbers2 = [n for n in range(1,8)]
numbers2

[1, 2, 3, 4, 5, 6, 7]

In [77]:
list1 = ['갑', '을', '병', '정', '경']

# 정 글자를 제외한 새로운 리스트 생성
list2 = [ch for ch in list1 if ch != '정']
list2

['갑', '을', '병', '경']

In [79]:
# 1 ~ 100 까지 홀수만 담는 리스트 생성
# list(range(1, 101, 2))

numbers2 = [i for i in range(1,101) if i % 2 == 1]
print(numbers2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [80]:
# 5글자 이상의 항목만 저장하는 새로운 리스트 생성
list1 = ['nice', 'study', 'python', 'anaconda','!!!']

list2 = [w for w in list1 if int(len(w)) >= 5]
list2

['study', 'python', 'anaconda']

In [82]:
list1 = ["A","B","c","d","E","F","G"]

# 소문자만 추출 후 새로운 리스트 생성
list2 = [w for w in list1 if w.islower()]
list2

['c', 'd']